.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main {
  width: 90%;
}

body {
  margin: 0px;
  padding: 0px;
  background-image: url(ww3.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  height: 100vh;
  width: 100vw;
}

.App-header {
  background-color: #282c34;
  width: 100vw;
  min-height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  font-size: calc(10px + 2vmin);
  color: white;
}

.unique_list {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.unique_list__link {
  size: 10px;
}

.App-header__title {
  margin: 0;
  display: inline-block;
  vertical-align: middle;
}

nav a {
  color: white;
  display: inline-block;
  padding: 20px;
  font-size: 1.2em;
  text-decoration: none;
}

nav a:hover {
  background: #282c34;
}

@media only screen and (min-width: 300px) and (max-width: 1000px) {
  .App-header {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
