.buyer_search {
  padding: 8px;
  border-radius: 10px;
  margin: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  font-size: 16px;
  background-color: rgba(250, 250, 250, 0.6);
}

.buyer_search__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.buyer_search__input {
  margin-bottom: 5px;
  background-color: white;
  border: 1px solid black;
  border-radius: 2px;
}

.buyer_search__button {
  border: 1px solid black;
  color: black;
  cursor: pointer;
}

input[type="text"],
input[type="password"] {
  width: 200px;
}

.order {
  border: 2px solid black;
  margin: 5px;
  padding: 10px;
}

span {
  color: purple;
}

.buyer_container {
  columns: 3 auto;
}

@media only screen and (min-width: 300px) and (max-width: 1000px) {
  .buyer_container {
    columns: 1 auto;
  }
}

